<h2>MY REVIEW POSTS</h2>
<% @reviews.each do |review_post| %>
 <h4><a href="/review_posts/<%= review_post.id %>"><%= review_post.created_at %></a></h4>
 <br><br>
 <p><h5><%= review_post.content %></h5></p>
 <h6><p>By <%= review_post.user.name %> and <%= review_post.user.partner_name %></p></h6>

  <br><br>
<% end %>